<h2>Editar  <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :sobrenome %><br />
    <%= f.text_field :sobrenome %>
  </div>

  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>

  <div class="field">
    <%= f.label :rua %><br />
    <%= f.text_field :rua %>
  </div>

  <div class="field">
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </div>

  <div class="field">
    <%= f.label :numero_endereco %><br />
    <%= f.number_field :numero_endereco %>
  </div>

  <div class="field">
    <%= f.label :cep %><br />
    <%= f.text_field :cep %>
  </div>

  <div class="field">
    <%= f.label :referencia %><br />
    <%= f.text_field :referencia %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Nova_senha %> <i></i />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters necessário)</em>
  <% end %>
  <br>
    <%= f.password_field :password, autocomplete: "new-password" %>
   
  </div>

  <div class="field">
    <%= f.label :Confirme_sua_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Senha_Atual %> <i> </i />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters necessário)</em>
  <% end %>
  <br>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Gravar" %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Está Infeliz? <%= button_to "Cancelar", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
