<p id="notice"><%= notice %></p>

<h1>Obras</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Estilo obra</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @obras.each do |obra| %>
      <tr>
        <td><%= obra.nome %></td>
        <td><%= obra.estilo_obra %></td>
        <td><%= obra.descricao %></td>
        <td><%= obra.preco %></td>
        <td><%= obra.quantidade %></td>
        <td><%= link_to 'Mostrar', obra %></td>
        <td><%= link_to 'Editar', edit_obra_path(obra) %></td>
        <td><%= link_to 'Excluir', obra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova obra', new_obra_path %>
