<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @obra.nome %>
</p>

<p>
  <strong>Estilo obra:</strong>
  <%= @obra.estilo_obra %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @obra.descricao %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @obra.preco %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @obra.quantidade %>
</p>

<%= link_to 'Editar', edit_obra_path(@obra) %> |
<%= link_to 'Voltar', obras_path %>
